*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing:border-box-box;
}

html {
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
  font-family: Arial, Helvetica, sans-serif;
  
}


body{
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.img {
  text-align: center;
   }
.img img {
  width: 50%;
   }
  

.register {
  gap:20px;
  padding:30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
}



p {
  color:gray;
  font-size:30px;
  
}

.input-text {
  width: fit-content; 
  border-radius:50px;
  padding: 5px 10px;
  
}

.btn {
  border-radius:50px;
  padding: 5px 10px;
  background-color: #8393f4;
  border: none;
  color:#ffffff;
  width: fit-content;
}

.reinicio .btnr {
  border-radius:50px;
  padding: 5px 10px;
  background-color: #51bb31;
  border: none;
  color:#feffff;
  width: fit-content;
}


.trivia {
  gap:20px;
  padding:30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
}

h1 {
  text-align: center;
  color:#0061fe;
  border-color: #ff7d78;
  border-width: 5px;
  border-style: dotted;
  
}

h2 {
  color: #ff7d78;
  border-style: double;
}

:checked {
  border: 5px solid #11053b;
}


.box{
    padding:20px;
   text-align: center;
}

.preguntas{
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 50px;
  
}

.respuesta {
   text-align: center;
}

